<plugin name='jssh' version='0.1' grailsVersion='2.3.7 &gt; *'>
  <author>Vahid Hedayati</author>
  <authorEmail>badvad@gmail.com</authorEmail>
  <title>j2ssh SSH Plugin</title>
  <description>Uses the j2ssh library to provide ssh access</description>
  <documentation>http://grails.org/plugin/jssh</documentation>
  <type>JsshGrailsPlugin</type>
  <resources>
    <resource>jssh.ConnectSshController</resource>
  </resources>
</plugin>