#console {
  background: #000;
  border: 3px groove #ccc;
  color: #FFF; 
  width: 98%;
  height: 110px;
  white-space: pre;
  text-align: left;
  font-family: monospace;
  display: inline-block;
  margin: 6px 6px 6px 6px;
  padding: 12px 12px 12px 12px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  font-size: 1em;
}
.logconsolebar {
 	border: 3px groove #ccc;
  	color: #FFF; 
  	background: #000;
  	border-style: solid;
  	border-width: thin;
  	border-color: black;
  	font-size: 1em;
    width: 95%;
  	font-family: monospace;
  	margin: 6px 6px 6px 6px;
  	padding: 12px 12px 12px 12px;
   font-weight: bold;
}
.logconsole-lg {
	 width: 95%;
    height: 500px;
    border: 3px groove #ccc;
  	color: #FFF; 
  	background: #000;
  	white-space: pre;
  	border-style: solid;
  	border-width: thin;
  	border-color: black;
  	font-size: 1em;
  	font-family: monospace;
  	display: inline-block;
  	*display:inline;
  	*zoom:1;
  	position: relative;
  	margin: 6px 6px 6px 6px;
  	padding: 12px 12px 12px 12px;
  	overflow:auto;
	resize:both;
   
}	
.logconsole-sm {
	 width: 95%;
    height: 200px;
    border: 3px groove #ccc;
  	color: #FFF; 
  	background: #000;
  	white-space: pre;
  	border-style: solid;
  	border-width: thin;
  	border-color: black;
  	font-size: 1em;
  	font-family: monospace;
  	display: inline-block;
  	*display:inline;
  	*zoom:1;
  	position: relative;
  	margin: 6px 6px 6px 6px;
  	padding: 12px 12px 12px 12px;
  	overflow:auto;
	resize:both;
}

div[class*="tbutton"] {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: content-box !important;
	width: auto;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	padding: 0.01em 0.02em;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	outline: none;
	-moz-transition: all 200ms ease 0ms !important;
	-o-transition: all 200ms ease 0ms !important;
	-webkit-transition: all 200ms ease 0ms !important;
	background: none repeat scroll 0 0 rgba(255,255,255,0.04);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-moz-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-webkit-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10x 10px rgba(255,255,255,0.08) inset;
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
}

.msg {
	color: #000;
	font-weight: normal;
}	
.tbutton1 {
	color: #FFF;
}
.tbutton2 {
	color: #000;
}
.page-header{padding-bottom:9px;margin:20px 0 30px;border-bottom:1px solid #eeeeee;}
.page-header2{
	padding-bottom: 1em;
	margin:1em 0 0;
	background: #CCC; 
	width: auto;
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.fixer {
    padding: 1px;
}
#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 40em;
	font-size: 1.1em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 2em;
}
#contact-area .sender {
	margin-top: -30px;
}
#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}
input.form-fixer {
    padding: 1px;
}


pre {
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}       

code {
    
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    
}

#content code {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
}

#accept {
	width: 16px;
	height: 16px;
    background: url(../images/accept.png) no-repeat 100% 100%;
	display:inline-block;
	*display:inline;
	*zoom:1;
	float:right;
}

#reject {
	width: 16px;
	height: 16px;
    background: url(../images/reject.png) no-repeat 100% 100%;
   	display:inline-block;
	*display:inline;
	*zoom:1;
	float:right;
}

#question {
	width: 16px;
	height: 16px;
    background: url(../images/exclamation.png) no-repeat 100% 100%;
   	display:inline-block;
	*display:inline;
	*zoom:1;
	float:right;
}